.container {
    position: absolute;
    top: 35%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100px;
    max-width: 250px;
    padding: 35px;
    background-color: #2d2d34;
    border-radius: 5px;
    box-shadow: 3px 2px 3px #444;
    opacity: 0;
    animation: fadein 0.2s linear forwards;
    color: aliceblue;
}
h3,p{
    margin: 0;
}
button{
    margin-top: 10px;
    box-shadow: 3px 2px 5px #444;
    border: none;
    padding: 5px 25px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    scale: 1.1;
}
@keyframes fadein {
    0%{opacity: 0;}100%{
        opacity: 1;
    }
}