.payment-chart{
    position: relative;
    height: 35vh;
    width: 50vw;
    padding: 25px;
    border-width: 0px;
    cursor: default;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 5px #444;
}
canvas{
    width: 100px;
}