.section{
    background-color: #edebebe1;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
}
.section .d1{
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 100%;
}
.d2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}