<div *ngIf="isLoading; else content">
    <app-loading-spinner></app-loading-spinner>
</div>
<ng-template #content>
    <div class="sale-register-box" #content>
        <div class="header">
            <h1>Venda</h1>
        </div>
        <div class="container-left">
            <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
                <fieldset>
                    <legend>Itens:</legend>
                    <select id="item-select" [(ngModel)]="selectedItem" name="selectedItem">
                        <option *ngFor="let item of items" [ngValue]="item">{{item.description.substring(0,10)}}
                        </option>
                    </select>

                    <div class="qtd-container">
                        <button (click)="decrementQuantity()">-</button>
                        <input placeholder="Quantidade" type="number" name="quantity" id="quantity" [value]="quantity">
                        <button (click)="incrementQuantity()">+</button>
                    </div>
                </fieldset>

                <button class="btn-add" (click)="addItem()" [disabled]="quantity == 0">Adicionar</button>

                <fieldset>
                    <legend>Forma de Pagamento:</legend>
                    <label>
                        <input type="radio" name="paymentMethod" value="PIX" [(ngModel)]="sale" required>
                        Pix
                    </label>
                    <label>
                        <input type="radio" name="paymentMethod" value="DEBIT" [(ngModel)]="sale" required>
                        Débito
                    </label>
                    <label>
                        <input type="radio" name="paymentMethod" value="CREDIT" [(ngModel)]="sale" required>
                        Crédito
                    </label>
                    <label>
                        <input type="radio" name="paymentMethod" value="MONEY" [(ngModel)]="sale" required>
                        Dinheiro
                    </label>
                </fieldset>
                <button class="btn-register" type="submit" [disabled]="registerForm.invalid"
                    [style]="registerForm.invalid?'background-color:red':''">Finalizar Venda</button>
            </form>
        </div>
        <div class="container-rigth">
            <table class="item-table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of saleItems">
                        <td class="description">{{item.item.description}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.item.price.toFixed(2).replace('.',',')}}</td>
                        <td>{{(item.item.price * item.quantity).toFixed(2).replace('.',',')}}</td>
                    </tr>
                    <tr class="final-tr">
                        <td></td>
                        <td></td>
                        <td class="total">Total</td>
                        <td class="total">{{total.toFixed(2).replace('.',',')}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>