<div *ngIf="isLoading; else content">
    <app-loading-spinner></app-loading-spinner>
</div>
<ng-template #content>
    <div class="sale-register-box" #content>
        <div class="container">
            <div>
                <h3>Quantidade</h3>
                <input max="999" type="number" name="quantity" id="quantity" [(ngModel)]="currentQuantity">
            </div>
            <div>
                <h3>Código</h3>
                <input type="number" max="999" name="cod" [(ngModel)]="cod" (keydown.enter)="addByCod()">
            </div>
            <div>
                <h3>Produto</h3>
                <select id="item-select" [(ngModel)]="selectedItem" name="selectedItem" (change)="addItem()">
                    <option *ngFor="let item of items" [ngValue]="item">
                        {{item.description.substring(0,30)}}
                    </option>
                </select>
            </div>
            <div class="total">
                <h3>Total</h3>
                <input type="text" [value]="total.toFixed(2).replace('.',',')">
            </div>
        </div>
        <div class="container table">
            <table class="item-table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Cod.</th>
                        <th>Descrição</th>
                        <th>Qtd.</th>
                        <th>uni.</th>
                        <th>total.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of saleItems; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{item.item.id}}</td>
                        <td>{{item.item.description}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.item.price.toFixed(2).replace('.',',')}}</td>
                        <td>{{(item.item.price * item.quantity).toFixed(2).replace('.',',')}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <fieldset>
                <legend>Forma de Pagamento:</legend>
                <label>
                    <input type="radio" name="paymentMethod" value="PIX" [(ngModel)]="sale.paymentMethod" required>
                    Pix
                </label>
                <label>
                    <input type="radio" name="paymentMethod" value="DEBIT" [(ngModel)]="sale.paymentMethod" required>
                    Débito
                </label>
                <label>
                    <input type="radio" name="paymentMethod" value="CREDIT" [(ngModel)]="sale.paymentMethod" required>
                    Crédito
                </label>
                <label>
                    <input type="radio" name="paymentMethod" value="MONEY" [(ngModel)]="sale.paymentMethod" required>
                    Dinheiro
                </label>
            </fieldset>
        </div>
        <div class="container">
            <button class="btn-register" (click)="finalizeSale()">Finalizar Venda</button>
        </div>
    </div>
    <app-message #message></app-message>
</ng-template>