.side-menu {
    background-color: var(--primary-color);
    height: 100%;
    width: 250px;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #ddffff;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.btn {
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin: 10px;
    padding: 10px;
    filter: drop-shadow(3px 2px 5px #444);

    &:hover {
        cursor: pointer;
    }
}

.selected {
    background-color: #111111;
    border-radius: 10px;
}