.sales-list-container {
  margin: auto;
  overflow: hidden;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.478);
  border-radius: 10px;
  background-color: aliceblue;
  position: relative;
  padding-bottom: 10px;
}


.container {
  overflow-y: auto;
  height: 80%;
}
.total-sales{
  margin: 0 10px;
}
.total-sales p span{
  color: green;
}

.container div {
  width: 100%;
}

.sales-list-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
table{
  background-color: aliceblue;
  width: 100%;
  height: max-content;
}
.container{
  width: 50vw;
  max-height: 50dvh;
  overflow: auto;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 0;
}
thead{
  background-color: #2d2d34;
  color: aliceblue;
  border-bottom: 1px solid;
}
thead th{
  padding: 5px;
}
tr{
  border-bottom: 1px solid;
}
td {
  font-weight: 500;
  text-align: right;
  border-bottom: 1px solid #aaa;
  padding: 5px;
}
tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}