body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}

:root {
    --primary-color: rgb(84, 84, 255);
}


*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #1b3fa3bb;
    border-radius: 10px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}